/* 可以设置不同的进入和离开动画   */
/* 设置持续时间和动画函数        */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.6s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


/* drop down */
.drop-down-enter-from,
.drop-down-enter-active,
.drop-down-enter-to{
  transform-origin: top;
  transition: all .5s ease-out;
}
.drop-down-leave-from,
.drop-down-leave-active,
.drop-down-leave-to{
  transform-origin: top;
  transition: all .3s cubic-bezier(1, 0.5, 0.8, 1);
}

.drop-down-leave-to,
.drop-down-enter-from{
  transform: scaleY(0);
  opacity: 0;
}
.drop-down-enter-to,
.drop-down-leave-from{
  transform: scaleY(1);  
  opacity: 1;
}
